// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
	--ion-color-primary: #faa307;
	--ion-color-primary-rgb: 250,163,7;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #dc8f06;
	--ion-color-primary-tint: #fbac20;

	--ion-color-secondary: #f48c06;
	--ion-color-secondary-rgb: 244,140,6;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #d77b05;
	--ion-color-secondary-tint: #f5981f;

	--ion-color-tertiary: #e85d04;
	--ion-color-tertiary-rgb: 232,93,4;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #cc5204;
	--ion-color-tertiary-tint: #ea6d1d;

	--ion-color-success: #dc2f02;
	--ion-color-success-rgb: 220,47,2;
	--ion-color-success-contrast: #ffffff;
	--ion-color-success-contrast-rgb: 255,255,255;
	--ion-color-success-shade: #c22902;
	--ion-color-success-tint: #e0441b;

	--ion-color-warning: #d00000;
	--ion-color-warning-rgb: 208,0,0;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #b70000;
	--ion-color-warning-tint: #d51a1a;

	--ion-color-danger: #9d0208;
	--ion-color-danger-rgb: 157,2,8;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #8a0207;
	--ion-color-danger-tint: #a71b21;

	--ion-color-light: #6a040f;
	--ion-color-light-rgb: 106,4,15;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #5d040d;
	--ion-color-light-tint: #791d27;

	--ion-color-medium: #370617;
	--ion-color-medium-rgb: 55,6,23;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #300514;
	--ion-color-medium-tint: #4b1f2e;

	--ion-color-dark: #03071e;
	--ion-color-dark-rgb: 3,7,30;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #03061a;
	--ion-color-dark-tint: #1c2035;

}

@media (prefers-color-scheme: dark) {
  /*
   * Dark Colors
   * -------------------------------------------
   */

  body {
:root {
	--ion-color-primary: #f5f3f4;
	--ion-color-primary-rgb: 245,243,244;
	--ion-color-primary-contrast: #000000;
	--ion-color-primary-contrast-rgb: 0,0,0;
	--ion-color-primary-shade: #d8d6d7;
	--ion-color-primary-tint: #f6f4f5;

	--ion-color-secondary: #d3d3d3;
	--ion-color-secondary-rgb: 211,211,211;
	--ion-color-secondary-contrast: #000000;
	--ion-color-secondary-contrast-rgb: 0,0,0;
	--ion-color-secondary-shade: #bababa;
	--ion-color-secondary-tint: #d7d7d7;

	--ion-color-tertiary: #b1a7a6;
	--ion-color-tertiary-rgb: 177,167,166;
	--ion-color-tertiary-contrast: #000000;
	--ion-color-tertiary-contrast-rgb: 0,0,0;
	--ion-color-tertiary-shade: #9c9392;
	--ion-color-tertiary-tint: #b9b0af;

	--ion-color-success: #e5383b;
	--ion-color-success-rgb: 229,56,59;
	--ion-color-success-contrast: #000000;
	--ion-color-success-contrast-rgb: 0,0,0;
	--ion-color-success-shade: #ca3134;
	--ion-color-success-tint: #e84c4f;

	--ion-color-warning: #ba181b;
	--ion-color-warning-rgb: 186,24,27;
	--ion-color-warning-contrast: #ffffff;
	--ion-color-warning-contrast-rgb: 255,255,255;
	--ion-color-warning-shade: #a41518;
	--ion-color-warning-tint: #c12f32;

	--ion-color-danger: #a4161a;
	--ion-color-danger-rgb: 164,22,26;
	--ion-color-danger-contrast: #ffffff;
	--ion-color-danger-contrast-rgb: 255,255,255;
	--ion-color-danger-shade: #901317;
	--ion-color-danger-tint: #ad2d31;

	--ion-color-light: #660708;
	--ion-color-light-rgb: 102,7,8;
	--ion-color-light-contrast: #ffffff;
	--ion-color-light-contrast-rgb: 255,255,255;
	--ion-color-light-shade: #5a0607;
	--ion-color-light-tint: #752021;

	--ion-color-medium: #161a1d;
	--ion-color-medium-rgb: 22,26,29;
	--ion-color-medium-contrast: #ffffff;
	--ion-color-medium-contrast-rgb: 255,255,255;
	--ion-color-medium-shade: #13171a;
	--ion-color-medium-tint: #2d3134;

	--ion-color-dark: #0b090a;
	--ion-color-dark-rgb: 11,9,10;
	--ion-color-dark-contrast: #ffffff;
	--ion-color-dark-contrast-rgb: 255,255,255;
	--ion-color-dark-shade: #0a0809;
	--ion-color-dark-tint: #232223;

}
  }

  /*
   * iOS Dark Theme
   * -------------------------------------------
   */

  .ios body {
    --ion-background-color: #000000;
    --ion-background-color-rgb: 0,0,0;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-color-step-50: #0d0d0d;
    --ion-color-step-100: #1a1a1a;
    --ion-color-step-150: #262626;
    --ion-color-step-200: #333333;
    --ion-color-step-250: #404040;
    --ion-color-step-300: #4d4d4d;
    --ion-color-step-350: #595959;
    --ion-color-step-400: #666666;
    --ion-color-step-450: #737373;
    --ion-color-step-500: #808080;
    --ion-color-step-550: #8c8c8c;
    --ion-color-step-600: #999999;
    --ion-color-step-650: #a6a6a6;
    --ion-color-step-700: #b3b3b3;
    --ion-color-step-750: #bfbfbf;
    --ion-color-step-800: #cccccc;
    --ion-color-step-850: #d9d9d9;
    --ion-color-step-900: #e6e6e6;
    --ion-color-step-950: #f2f2f2;

    --ion-item-background: #000000;

    --ion-card-background: #1c1c1d;
  }

  .ios ion-modal {
    --ion-background-color: var(--ion-color-step-100);
    --ion-toolbar-background: var(--ion-color-step-150);
    --ion-toolbar-border-color: var(--ion-color-step-250);
  }


  /*
   * Material Design Dark Theme
   * -------------------------------------------
   */

  .md body {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;

    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;

    --ion-border-color: #222222;

    --ion-color-step-50: #1e1e1e;
    --ion-color-step-100: #2a2a2a;
    --ion-color-step-150: #363636;
    --ion-color-step-200: #414141;
    --ion-color-step-250: #4d4d4d;
    --ion-color-step-300: #595959;
    --ion-color-step-350: #656565;
    --ion-color-step-400: #717171;
    --ion-color-step-450: #7d7d7d;
    --ion-color-step-500: #898989;
    --ion-color-step-550: #949494;
    --ion-color-step-600: #a0a0a0;
    --ion-color-step-650: #acacac;
    --ion-color-step-700: #b8b8b8;
    --ion-color-step-750: #c4c4c4;
    --ion-color-step-800: #d0d0d0;
    --ion-color-step-850: #dbdbdb;
    --ion-color-step-900: #e7e7e7;
    --ion-color-step-950: #f3f3f3;

    --ion-item-background: #1e1e1e;

    --ion-toolbar-background: #1f1f1f;

    --ion-tab-bar-background: #1f1f1f;

    --ion-card-background: #1e1e1e;
  }
}
