<ion-content [fullscreen]="true">

    <ion-row>
        <ion-col size="12">
            <ion-segment>
                <ion-segment-button value="brasil">
                <ion-label>Brasil</ion-label>
            </ion-segment-button>
            <ion-segment-button value="india">
                <ion-label>
                    India
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="china">
                <ion-label>
                    China
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="mexico">
                <ion-label>
                   México
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="italia">
                <ion-label>
                    Itália
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="jordania">
                <ion-label>
                    Jordania
                </ion-label>
            </ion-segment-button>
            <ion-segment-button value="peru">
                <ion-label>
                    Peru
                </ion-label>
            </ion-segment-button>
            </ion-segment>
            
        </ion-col>
    </ion-row>

    <ion-row>
        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://lh3.googleusercontent.com/grass-cs/ACvplmMda_gg97r_JvJG2aB9BNcM-wVQ1u2i_Hf0xBozNGmMV8387uJ_F41WHGPeSTUoca3_LHhYoAdLgcFjEFsPUT5Tby8cldsSpG3GfzHgxA8ZV1LOIcsGz9rz7r9s1CnQsSTbeLOm=w270-h312-n-k-no" >
                <ion-card-header>
                    <ion-card-title>Cristo Redentor</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores modi iusto quidem fuga quod, optio accusamus aut eaque excepturi reiciendis tenetur. Ipsum praesentium sit cupiditate! Qui, rem. Obcaecati, modi velit.
                </ion-card-content>
            </ion-card>
        </ion-col>

                <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRQ4SePZuu0lA6AsQjWuorTh2EK4JVye5fkxSRLp74xLg&s=10" >
                <ion-card-header>
                    <ion-card-title>Taj Mahal</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores modi iusto quidem fuga quod, optio accusamus aut eaque excepturi reiciendis tenetur. Ipsum praesentium sit cupiditate! Qui, rem. Obcaecati, modi velit.
                </ion-card-content>
            </ion-card>
        </ion-col>

                <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT94-ItQeOjO8wd___l6sL1gdKlW6YxVNpzjgjB1pH82g&s=10" >
                <ion-card-header>
                    <ion-card-title>Muralha da China</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores modi iusto quidem fuga quod, optio accusamus aut eaque excepturi reiciendis tenetur. Ipsum praesentium sit cupiditate! Qui, rem. Obcaecati, modi velit.
                </ion-card-content>
            </ion-card>
        </ion-col>

                <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQwL-cICCyWTKrNsOp9m9YJAIrIS4649vUyW0z15Wg4xA&s=10" >
                <ion-card-header>
                    <ion-card-title>Chichén Itzá</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    K'iin sáamal, le máako'ob ku bin xíimbal ichil le k'áaxo'. Táan u yilikob le lu'um, le che'o'ob yéetel le chan ba'alo'ob. Táan u t'aanob tu láakal tuukul, yéetel ku meyajobo'ob ichil junp'éel kuxtal tu'ux yaan utsil yéetel óolal.
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRs1l7D4OcJL-1MRzrM5G94m0fj-ATVqJvYnwq4Vef3yg&s=10" >
                <ion-card-header>
                    <ion-card-title>Coliseu Romano</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores modi iusto quidem fuga quod, optio accusamus aut eaque excepturi reiciendis tenetur. Ipsum praesentium sit cupiditate! Qui, rem. Obcaecati, modi velit.
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTBMKUWSZWoQ6CFeZMUcDE8V8viamHK0EWbnR5pciY-tA&s=10" >
                <ion-card-header>
                    <ion-card-title>Petra</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                    هناك حقيقة مثبتة منذ زمن طويل وهي أن المحتوى المقروء لصفحة ما سيلهي القارئ عن التركيز على الشكل الخارجي للنص أو شكل توضع الفقرات في الصفحة التي يقرأها. ولذلك يتم استخدام طريقة لوريم إيبسوم لأنها تعطي توزيعاَ طبيعياَ -إلى حد ما- للأحرف عوضاً عن استخدام "هنا يوجد محتوى نصي، هنا يوجد محتوى نصي" فتجعلها تبدو (أي الأحرف) وكأنها نص مقروء. العديد من برامح النشر المكتبي وبرامح تحرير صفحات الويب تستخدم لوريم إيبسوم بشكل إفتراضي كنموذج عن النص، وإذا قمت بإدخال "lorem ipsum" في أي محرك بحث ستظهر العديد من المواقع الحديثة العهد في نتائج البحث. على مدى السنين ظهرت نسخ جديدة ومختلفة من نص لوريم إيبسوم، أحياناً عن طريق الصدفة، وأحياناً عن عمد كإدخال بعض العبارات الفكاهية إليها.
                </ion-card-content>
            </ion-card>
        </ion-col>

        <ion-col size="12" size-md="6" size-lg="3">
            <ion-card>
                <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/ca/Machu_Picchu%2C_Peru_%282018%29.jpg/1280px-Machu_Picchu%2C_Peru_%282018%29.jpg" >
                <ion-card-header>
                    <ion-card-title>Machu Pichu</ion-card-title>
                </ion-card-header>

                <ion-card-content>
                  In tlālticpac nemih tlācah ica yolpāquiliztli. Quittachīyah in cuahuitl, in xōchitl, ihuan in ātl. Monechicoah, motlapōhuiah, ihuan quichīhuah in tequitl ica cualli yōllōtl. Mochipa quitemoah in yolmelāhuac nemiliztli ihuan in yolsehuiliztli.                </ion-card-content>
            </ion-card>
        </ion-col>
    </ion-row>
    
    
</ion-content>